/* Global reset */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Orelega+One&display=swap");

:root {
  --bg-color: #0f2716;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

div.navbar-container {
  width: 100%;
  height: 160px;
  background-color: #fff;
  padding: 0 2rem;
}
nav {
  position: relative;
}
.logo {
  width: 50px;
  margin-top: 15px;
}

.navbar-items {
  position: absolute;
  height: 80px;
  line-height: 120px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  font-family: 'Lilita One', sans-serif;
  color: #000;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-items a {
  text-decoration: none;
  transition: 0.5s;
}

.navbar-items a:hover {
  color: #858585;
}

.navbar-items a:visited {
  text-decoration: none;
  color: #000;
}
