/* 
font-family: 'Lilita One', sans-serif;
font-family: 'Orelega One', serif;
 */

body {
  margin: 0px;
  font-family: "Orelega One", serif;
  background-color: #0b421a;
  overflow: hidden;
}

.navbar {
  padding: 20px;
  background-color: #fff;
  font-family: "Lilita One", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 10px 0px #00000061;
}

.navbar-left > *,
.navbar-right > * {
  margin: 10px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left div {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
}

.navbar-left div:hover {
  color: rgba(7, 168, 104, 0.76);
  cursor: pointer;
}

.navbar-left img {
  width: 72px;
}

.find-store {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.navbar-right img {
  width: 22px;
  height: 30px;
  padding: 0px 5px;
}

.login,
.join-now {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 51px;
  padding: 5px 20px 5px 20px;
}

.join-now {
  background-color: black;
  color: #fff;
  font-size: 16px;
}

.login:hover {
  color: rgba(7, 168, 104, 0.76);
  background-color: rgba(105, 105, 105, 0.281);
  cursor: pointer;
}

.join-now:hover {
  color: rgba(7, 168, 104, 0.76);
  background-color: rgba(105, 105, 105, 0.281);
  cursor: pointer;
}

.find-store:hover {
  color: rgba(7, 168, 104, 0.76);
  cursor: pointer;
}

h1 {
  color: #fff;
  font-family: Orelega One;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 70%;
  padding: 10px;
}

h2 {
  display: flex;
  color: #fff;
  font-family: "Orelega One", serif;
  font-size: 30.646px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cards-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 60%;
  margin-top: 100px;
}

.cards-container img {
  display: flex;
}
.matcha img {
  /* width: 219.933px;
  height: 156.817px; */
  transform: translate(-5px, 30px);
}
.milk img {
  /* width: 311.379px;
  height: 311.379px; */
  transform: translate(-45px, -95px);
}
.syrup img {
  /* width: 290.604px;
  height: 290.544px; */
  transform: translate(-45px, -100px);
}
.ice img {
  /* width: 230.29px;
  height: 256.731px; */
  transform: translate(-8px, -90px);
}

.cards-container h2 {
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.matcha h2 {
  transform: translateY(40px);
}

.milk h2 {
  transform: translateY(-115px);
}

.syrup h2 {
  transform: translateY(-120px);
}

.ice h2 {
  transform: translateY(-60px);
}

.card {
  background-color: #0f2716;
  border-radius: 25px;
  height: 263px;
  width: 205px;
  margin: 0px 10px;
}

.symbol {
  color: #fff;
  font-size: 45px;
}

.shake-container {
  display: flex;
  justify-items: end;
  align-items: center;
}

.shake-big {
  position: absolute;
  width: 700px;
  overflow-x: hidden;
}